/* General */

html {
  font-family: 'Raleway', sans-serif;
  font-size: 10px;


    height: 100%;
    background-color: hsla(200,40%,30%,.4);
    background-image:		 
      url('https://www.freepnglogos.com/uploads/corn-png/corn-the-best-mexican-fresh-produce-for-global-exports-5.png'),
      url('https://www.freepnglogos.com/uploads/food-png/high-resolution-food-clipart-collection-19.png'),
      url('https://www.freepnglogos.com/uploads/fruits-png/fruits-vegetables-artichoke-vector-graphic-pixabay-35.png'),
      url('https://www.freepnglogos.com/uploads/food-png/food-png-transparent-images-png-only-28.png');
    background-repeat: repeat-x;
    background-position: 
      0 20%,
      0 100%,
      0 50%,
      0 100%,
      0 0;
    background-size: 
      2500px,
      800px,
      500px 200px,
      1000px,
      400px 260px;
    animation: 50s para infinite linear;
    }
  
    @keyframes para {
    100% {
      background-position: 
        -5000px 20%,
        -800px 95%,
        500px 50%,
        1000px 100%,
        400px 0;
      }
    }


body {
  margin: 0 auto;
}

/* Typography */

h1, h2 {
  font-family: 'Cherry Swash', cursive;
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 50px;
  background: url(icons/boite-de-conserve.png) no-repeat 20%, url(icons/boite-de-conserve.png) no-repeat 80%;
  width: 100%;
  background-size: 75px, 75px; 
  color: green;
  text-shadow: 2px 2px 1px black;
  font-size: 5rem;
  padding-right: 50px;
  padding-left: 50px;
}

h2 {
  font-size: 2rem;
  color: yellow;
  text-align: right;
  width: 175px;
  position: absolute;
  right: 4%;
  z-index: 3000;
  text-shadow: 2px 2px 1px black;
  line-height: 2rem;
  padding-top: 0.3rem;
}

span
{
  color: white;
  padding: 4px;
  border-radius: 25px;
}

p, label, input, select, button, li {
  font-size: 1.5rem;
}

li {
  line-height: 1.5;
}

/* block styling */

header, aside, main, footer {
  padding: 20px;
}

header {
  display: flex;
  border: 0;
}

aside {
  border-bottom: 1px solid rgb(14, 206, 24);
  background-color: rgba(255, 255, 128, .5);
}

body > div {
  border: 1px solid rgb(14, 206, 24);
  display: flex;
  flex-direction: column;
}

footer {
  border: 5px solid black;
  border-top: 0;
}

aside {
  flex: 3;
}

main {
  flex: 7;
}

/* Form styling */
a
{
  text-decoration:none;
  color: inherit;
}
aside {
  display: flex;
  flex-flow: column;
  align-items: stretch;
}

aside div {
  margin-bottom: 20px;
}

label, select, input {
  display: block;
}

label {
  margin-bottom: 5px;
}

select, input, button {
  width: 100%;
}

input {
  background-color: #1d680eac;
  box-shadow: inset 1px 1px 1px white;
  color: yellow;
  border: none;
  padding: 5px;
}

button {
  background-color: #1d680eac;
  color: yellow;
  padding: 10px 2px;
  width: 80px;
  border: none;
  border-radius: 10px;
  box-shadow: inset 1px 1px 2px white, inset -1px -1px 2px #ccc;
}

/* Styling the products */

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
select
{
  background-color: #1d680eac;
  color: yellow;
}
section {
  width: 222px;
  margin: 5px;
  background-color: black;
  position: relative;
  height: 240px;
  margin-bottom: 25px;
}

section img {
  width: 100%;
  display: block;
  position: absolute;
  bottom: 25px;
}

section p {
  color: yellow;
  background: rgb(4, 63, 4);
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 2px 2px 1px yellow;
  position: absolute;
  right: 10px;
  bottom: 19px;
  z-index: 2000;
}

section h3
{
  position: absolute;
  bottom: 0px;
  color: yellow;
  margin: 0px;
  margin-bottom: 5px;
  width: 100%;
  height: 15px;
  text-align: center;
}

.legumes {
  background: rgb(25, 80, 4) url(icons/vegetable.png) no-repeat 2px 2px;
  background-size: 24px 24px;
}

.viande {
  background: rgb(82, 143, 82) url(icons/meat.png) no-repeat 2px 2px;
  background-size: 24px 24px;
}

.soupe {
  background: rgb(26, 126, 48) url(icons/soup.png) no-repeat 2px 2px;
  background-size: 24px 24px;
}


form {
  display: flex;
  justify-content: center;
  }


form div {
max-width: 100px;
height: 40px ;
float: left;
padding: 10px;
}

@media (max-width: 640px) {
  /* CSS mobile ici */
  h1{
    background: none;
    padding: 0;
  }
  form {
    flex-direction: column ;
    }
    form div {
      max-width: 100%;
      height: 40px ;
      padding: 0;
      }
  }
